[MASTER]
ignore=__pycache__
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    invalid-name

[REPORTS]
output-format=colorized
reports=no

[FORMAT]
max-line-length=100
